/* _________Basic style_______ */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212529;
  line-height: 1.2;
}
.container {
  width: min(90%, 1120px);
  margin: auto;
}
img {
  width: 100%;
}
button:hover {
  background-color: rgba(89, 171, 110, 0.3);
}

/* ________________Home_____________ */

/*header  */
.menus {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.disktop-header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 9px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  inset: 0 0 0 0;
}

.menus-link {
  display: flex;
  gap: 4rem;
  list-style-type: none;
}
.menus-link a {
  text-decoration: none;
  cursor: pointer;
  color: #212529;
}
.menus-link a {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}
.logo h1 {
  color: #59ab6e !important;
  font-size: 48px !important;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
/* top nav icons */
.topnav {
  display: flex;
  gap: 1.5rem;
  margin-right: 3rem;
  align-items: center;
}
.num-user {
  background-color: #e9eef5;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 10px;
  position: relative;
  top: 0.5rem;
  left: 0.4rem;
}
.num-cart {
  background-color: #e9eef5;
  font-size: 10px;
  padding: 2px 7px;
  border-radius: 10px;
  position: relative;
  top: 0.5rem;
  left: 0.6rem;
}

/* hero section */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  animation: slide 15s infinite;
}

.slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.image-wrapper {
  width: 50%;
  height: 100%;
}

.image-wrapper img {
  width: 80%;
  height: 90%;
  object-fit: scale-down;
}
.text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 7%;
}
.hero .text-info h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.text-info h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}
.text-info p {
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.text-success {
  color: #59ab6e !important;
}

@keyframes slide {
  0%,
  33.33% {
    transform: translateX(0);
  }
  44.44%,
  77.77% {
    transform: translateX(-100%);
  }
  88.88%,
  100% {
    transform: translateX(-200%);
  }
}

/* catagories section */
.catagories {
  width: 100%;
  margin-top: 10%;
}
.heading-catagories {
  text-align: center;
  margin-top: 10%;
}
.heading-catagories h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px !important;
  font-weight: 200;
  color: rgba(34, 38, 42, 0.8);
  line-height: 1.8;
}
.heading-catagories p {
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.catagories-griding {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.boxes img {
  border-radius: 50%;
}
.cata-btn button {
  padding: 10px 15px;
  background-color: #59ab6e;
  border-radius: 10px;
  border: none;
  color: #e9eef5;
  font-size: 18px;
}
.boxes .cata-span,
button {
  margin-left: 6rem;
}
.boxes .cata-span {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
}

/* features section */
.heading-features {
  text-align: center;
  margin-top: 10%;
}
.heading-features h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px !important;
  font-weight: 200;
  color: rgba(34, 38, 42, 0.8);
  line-height: 1.8;
}
.heading-features p {
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.features {
  width: 100%;
  margin-top: 5%;
}
.features-griding {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.feature {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.features-section {
  background-color: #e9eef5;
  padding-bottom: 10%;
}
.features-content {
  margin-left: 20px;
}
.features-content h2 {
  padding-top: 20px;
  font-weight: 300;
}
.features-content p {
  line-height: 1.5;
  padding-top: 7px;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.stars-price {
  display: flex;
  gap: 45%;
  margin-top: 1rem;
}
.stars {
  color: #bcbcbc;
}
.last-span,
.price {
  color: #bcbcbc;
}
.last-span {
  margin-top: 1rem;
  padding-bottom: 10%;
}

/* above footer section */
.above-footer-container {
  width: 100%;
  padding: 20px;
}
.above-footer-griding {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  border-bottom: rgba(188, 188, 188, 0.4) solid 1px;
}
.boxess {
  margin-top: 10%;
}
.above-footer {
  background-color: #212934 !important;
}
.items-box .fa-solid {
  float: left;
  padding-right: 20px;
}
.items-box {
  color: #e9eef5;
  margin-top: 5%;
  margin-left: 1%;
  padding-bottom: 6%;
}
.items-box p {
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.items-box p:hover {
  color: #59ab6e;
  cursor: pointer;
}
.boxes-title h2 {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 30px !important;
  border-bottom: rgba(188, 188, 188, 0.4) solid 1px;
  padding-bottom: 2%;
}
/* subscribe and social media */
.sub-social {
  width: 100%;
  padding: 20px;
}
.sub-social-griding {
  display: grid;
  gap: 20%;
  grid-template-columns: repeat(2, 1fr);
}
.social-media i {
  color: #e9eef5;
  font-size: 1.7rem;
  background-color: #212529;
  padding: 10px;
  border-radius: 50%;
}
.social-media i:hover {
  color: #212529;
  font-size: 1.7rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
}
.subscribe {
  display: flex;
  align-items: center;
}
.subscribe .input input {
  padding: 10px;
  background-color: transparent;
  border: 0;
  border: 1px solid #212934;
  border-color: #bcbcbc;
  font-size: 18px;
  position: relative;
  left: 6.1rem;
}
.subscribe .btn-subscribe button {
  padding: 11px 6px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 18px;
  background-color: #59ab6e;
  color: #fff;
  border: 0;
}
.btn-subscribe{
  margin-left: 0.27rem;
}
/* footer */
footer {
  font-family: Roboto, sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
  text-align: center;
  padding: 30px;
  color: #fff;
  font-size: 13px;
  background-color: #212529;
}
footer b {
  color: #59ab6e;
  cursor: pointer;
}

/* mobile menus */
.mobile-menu {
  display: none;
}
.mobile-header {
  display: none;
}

.hamburger {
  display: none;
}
.logo-mobile {
  display: none;
}

/* media query */
@media (max-width: 768px) {
  /* menu */
  .desktop-menu {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
  .logo-mobile h1 {
    color: #59ab6e !important;
    font-size: 48px !important;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    z-index: 100;
    margin-left: 5%;
  }
  i {
    z-index: 11111;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #f5f5f5;
    color: rgb(44, 43, 43);
    width: 50px;
    height: 50px;
    top: 7%;
    right: 10%;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 1111;
  }
  .mobile-header {
    display: block;
  }

  .mobile-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #ffffff;
    inset: 0 0 0 0;
    transform: translateX(0%);
    transition: transform 350ms ease-in;
    height: 50%;
    z-index: -100;
  }
  .menus-link {
    display: flex;
    gap: 1rem;
    position: relative;
    left: 30%;
    flex-direction: column;
  }
  .menus-link a {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    align-items: center;
    justify-content: center;
    color: rgba(33, 41, 52,0.7);
  }

  header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.6);
    z-index: 30;
  }

  .mobile-menu[data-visible="false"] {
    transform: translateX(100%);
  }

  .hamburger i[data-visible="true"] {
    display: block;
  }

  .hamburger i[data-visible="false"] {
    display: none;
  }
  .topnav {
    position: relative;
    left: -1%;
    top: 35%;
    width: 100%;
  }
  /* hero section */
  .hero {
    z-index: -100;
    width: 100%;
  }

  .slide {
    flex-direction: column-reverse;
  }
  .image-wrapper {
    width: 100%;
    height: auto;
    
  }
  .image-wrapper img {
    width: 70%;
    height: auto;
    position: relative;
    right: -5rem;
    top: 15%;
  }
  .text {
    width: 80%;
    text-align: center;
    margin-top: 6rem;
  }
  .text-info{
    margin-bottom: 20%;
  }
  .hero .text-info h1 {
    font-size: 38px !important;
    font-weight: 200 !important;
  }
  .text-info h3 {
    font-size: 20px !important;
    font-weight: 300;
  }
  .text-info p {
    font-size: 15px !important;
    font-weight: 300 !important;
  }
  /* catagories section */
  .catagories-griding {
    display: grid;
    grid-template-columns: 1fr;
  }
  .features-griding {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 7%;
  }
  /* above footer section */
  .above-footer-griding {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .sub-social-griding {
    display: grid;
    grid-template-columns: 1fr;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
  .subscribe .input input {
    position: relative;
    left: 0;
  }
  .subscribe .btn-subscribe button {
    position: relative;
    margin-left: 0;
    border-radius: 5%;
    margin-top: 2%;
  }
  .btn-subscribe{
    margin-right: -4.3rem;
    margin-top: -1.7rem;
  }
  .input{
    margin: -1rem;
    margin-left: -3rem;
  }
}

/* ________________ABOUT_____________ */

/* ________________SHOP_____________ */



.Left-side{ 
    /* margin-top: 2rem; */ 
    margin-top: 5rem;
    margin: 3rem; 
     
} 
.main-cont h1{ 
    font-size: 3rem; 
    font-weight: 300; 
} 
.font-edits,h4{ 
    font-size: 1.8rem; 
    font-weight: 300; 
    display: flex; 
    flex-direction: column; 
    line-height: 2.5rem; 
} 
.Categories i:hover{ 
    color: rgb(144, 175, 206);
    /* background-color: #000000; */
    cursor: pointer;
    border-radius: 90%;
    background-size: auto;
} 
#gender{ 
    display: flex; 
    justify-content: space-between; 
} 
#Sale{ 
    display: flex; 
    justify-content: space-between; 
} 
#Product{ 
    display: flex; 
    justify-content: space-between; 
} 
.Categories{ 
 /* display: flex; */
 /* justify-content: space-between; */
    gap: 0.7rem; 
} 
.main-cont{ 
    display: flex; 
    justify-content: space-between;
} 
.right-top{ 
    display: inline-block; 
    margin-top: 10vh; 
    /* margin-left: -20px; */ 
    padding: 10px; 
} 
.main-cont .right-top .anchortag a{ 
    text-decoration: none; 
    padding: 10px; 
    font-size: 1.2rem; 
} 

 #Legend{  
    border: 1px solid rgba(0, 0, 0,0.2); 
    margin-left: 90%;                    /*  <N:B>  */
    padding-top: -0.55rem;                   /*   <N:B>  */
    padding-bottom: -0rem;                  /*    <N:B>  */
    padding-left: 0.5rem;                     /* <N:B> */ 
    padding-right:14rem;                        /* <N:B> */ 
    appearance: none;
    font-size: 1.5rem;
    margin-top: -2rem;
    /* display: flex; */
    /* justify-content: flex-start; */
 } 
 .anchortag{
    text-decoration: none;
    color: #000000;
 }
 .stars{
    display: flex;
    justify-content: center;
    list-style: none;
    color: rgba(73, 77, 77,0.5);
    font-weight: 900;
    font-size: 1rem;
    /* text-align: center; */
    /* align-items: center; */
 }
 .center {
    /* text-align: center; */
    /* align-content: center; */
    /* align-items: center; */
    display: flex;
    justify-content: center;
    line-height: 2.5rem;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.7);
 }
 .stars .text-warning{
    color: rgb(216, 163, 30);
 }
 
 .card{
    border: 1px solid rgba(0, 0, 0,0.4);
    width: 30%;
    padding: 0px 0px 20px 0px;
    /* padding-left: 30px; */
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0,0.5) inset 0000; 
    /* flex: 1 1 1; */
 }
.cmcontainer{
    /* border: 1px solid rgba(0, 0, 0,0.9); */
    width: 90%;
    /* flex: 1 1 1; */
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    margin-top: -15px;
    /* margin: 10px; */
    
}
.cmcontainer img{
    width: 100%;

}
.info{
    padding-left: 20px;
}
.info p{
    font-size: 1rem;
}
.new-page ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    /* color: #000000; */
    /* border: 1px solid #000000; */
}
.new-page ul a{
    text-decoration: none;
    padding: 20px;
    color: #ffff;

}
.no-1{
    /* border: 1px solid #000000; */
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 15px;
    padding: 10px 0px 10px 0px;
    /* background-color: navajowhit; */
}
#number-1{
    background-color: rgb(89, 171, 110);
    color: #ffff;
}
#number-2{
border-left: 1px solid rgb(0, 0, 0,0.2);
border-right: 1px solid rgb(0, 0, 0,0.2);
}

#number-2 a,#number-3 a{
    color: rgba(0, 0, 0,0.5);
}

/* brands */
.cmbrands{
    margin-top: 3rem;
    background-color: #e9eef5;
    height: 60vh;
    /* margin-bottom: 2rem; */
}

.cmbrands-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    color: rgb(33, 37, 41);
 

}

.cmbrands-content h6{
    font-size: 3rem !important;
    font-weight: 200 !important ;
    line-height: 10rem;
    text-transform: capitalize;
    margin-top: 2rem;
}

.cmbrands-content p{
    font-size: 1.15rem !important;
    font-weight: 300!important;
    text-align: center;
    line-height: 1.3rem;
    /* margin-top: -5rem; */
     
}

.cmbrands-grid{
    display: flex;
    height: 60vh;
    /* margin-top: 2rem; */
    justify-content: center;
    gap: 3rem;
    /* margin-bottom: 100px; */
}

.cmbrand-img img{
height: 3rem;
width: 3rem;
margin-bottom: -5rem;

}

/* above footer section */
.above-footer-container {
    width: 100%;
    padding: 20px;
  }
  .above-footer-griding {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    border-bottom: rgba(188, 188, 188, 0.4) solid 1px;
  }
  .boxess {
    margin-top: 10%;
  }
  .above-footer {
    background-color: #212934 !important;
  }
  .items-box .fa-solid {
    float: left;
    padding-right: 20px;
  }
  .items-box {
    color: #e9eef5;
    margin-top: 5%;
    margin-left: 1%;
    padding-bottom: 6%;
  }
  .items-box p {
    padding-bottom: 5%;
    font-family: "Roboto", sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  .items-box p:hover {
    color: #59ab6e;
    cursor: pointer;
  }
  .boxes-title h2 {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 30px !important;
    border-bottom: rgba(188, 188, 188, 0.4) solid 1px;
    padding-bottom: 2%;
  }
  /* subscribe and social media */
  .sub-social {
    width: 100%;
    padding: 20px;
  }
  .sub-social-griding {
    display: grid;
    gap: 20%;
    grid-template-columns: repeat(2, 1fr);
  }
  .social-media i {
    /* color: #e9eef5; !important: */
    font-size: 1.7rem;
    background-color: #212529;
    padding: 10px;
    border-radius: 50%;
  }
  .social-media i:hover {
    color: #212529;
    font-size: 1.7rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
  }
  .subscribe {
    display: flex;
    align-items: center;
  }
  .subscribe .input input {
    padding: 10px;
    background-color: transparent;
    border: 0;
    border: 1px solid #212934;
    border-color: #bcbcbc;
    font-size: 18px;
    position: relative;
    left: 6.1rem;
  }
  .subscribe .btn-subscribe button {
    padding: 11px 6px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 18px;
    background-color: #59ab6e;
    color: #fff;
    border: 0;
  }
  .btn-subscribe{
    margin-left: 0.27rem;
  }
  /* footer */
  footer {
    font-family: Roboto, sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
    text-align: center;
    padding: 30px;
    color: #fff;
    font-size: 13px;
    background-color: #212529;
  }
  footer b {
    color: #59ab6e;
    cursor: pointer;
  }
  .fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin{
    color: #ffffff;
  }


 @media screen and (max-width: 768px){ 
.main-cont{ 
    display: flex; 
    flex-direction: column; 
} 
.main-cont .right-top .anchortag a{ 
    /* display: inline-flex; */ 
    /* flex; */ 
    display: inline; 
    padding: 5px; 
} 
#Legend{ 
    border: 1px solid rgba(0, 0, 0,0.3); 
    margin-left:-0.001VH;                       /* <N:B> */ 
    margin-top: 5VH;                       /* <N:B> */ 
    padding-top: 0.5rem;                     /* <N:B> */ 
    padding-bottom: 0.5rem;                     /* <N:B> */ 
    padding-left: 5rem;                     /* <N:B> */ 
    /* padding-right:10rem;    */ 
    align-items: self-start; 
    appearance: none;
    font-size: 1rem;
} 
.right-top{ 
 display: inline-block;
} 
  
 
 .Categories i{
    font-size: auto;
 }
 .card{
    width: 100%;
 }
 .cmcontainer{
    width: 100%;
}
.above-footer-griding {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .sub-social-griding {
    display: grid;
    grid-template-columns: 1fr;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
  .subscribe .input input {
    position: relative;
    left: 0;
  }
  .subscribe .btn-subscribe button {
    position: relative;
    margin-left: 0;
    border-radius: 5%;
    margin-top: 2%;
  }

  .btn-subscribe{
    margin-right: -4.3rem;
    margin-top: -1.7rem;

  }
  .input{
    margin: -1rem;
    margin-left: -3rem;
    margin-bottom: -1.05rem;
    
  }

}




















/* _______________CONTACT US_____________ */
